@use '../util'as *;

body {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  background: var(--light-grayish-cyan);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: rem(50);

  @include breakpoint(large) {
    margin-top: rem(140);
  }
}