@use '../util'as *;

.calculator {
  background: var(--white);

  width: 100%;
  // display: grid;
  // grid-template-rows: 1fr 0.5fr;
  display: flex;
  flex-direction: column;
  // padding: rem(32) rem(24);
  padding: rem(32) 0;
  border-radius: rem(25) rem(25) 0 0;

  @include breakpoint(medium) {
    max-width: rem(920);
    flex-direction: row;
    border-radius: rem(25);
  }

  @include breakpoint(large) {
    // width: rem(920);
    max-width: rem(920);
    flex-direction: row;
    border-radius: rem(25);
  }

  &__form {
    max-width: rem(375);
    padding: 0 rem(32);

    @include breakpoint(medium) {
      width: 50%;
      padding: 0 rem(48);
      padding-right: rem(20);
    }

    @include breakpoint(large) {
      flex: 1 0 rem(443);
      min-width: rem(443);
      padding: 0 rem(48);
      padding-right: rem(20);
    }
  }

  &__results {
    padding: 0 rem(8);

    @include breakpoint(medium) {
      width: 50%;
    }

    @include breakpoint(large) {
      min-width: rem(413);
    }
  }
}