@use '../util'as *;

.form {
  display: flex;
  flex-direction: column;

  color: var(--dark-grayish-cyan);
  font-weight: 700 !important;
  

  &__bill,
  &__tip {
    margin-bottom: rem(39);
  }

  &__bill,
  &__tip,
  &__people {

    &-title {
      @include breakpoint(large) {
        font-size: rem(18);
      }
    }
  }

  &__bill {
    display: flex;
    flex-direction: column;
    &-title {
      margin-bottom: rem(8);
    }

    &-input {
      background: no-repeat scroll rem(16) rem(16) url(../images/icon-dollar.svg), var(--lighter-grayish-cyan);

      &:focus {
        outline-color: var(--strong-cyan)!important;
      }
    }
  }

  &__tip {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: rem(22) repeat(3, 1fr);
    gap: rem(16);
    align-items: center;

    @include breakpoint(large) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: rem(22) repeat(2, 1fr);
      column-gap: rem(14);
      margin-bottom: rem(30);
    }

    &-title {
      grid-column: 1 / 3;

      @include breakpoint(large) {
        grid-column: 1 / 4;
      }
    }

    &-value {
      background: var(--very-dark-cyan);
      width: rem(146);
      height: rem(48);
      border-radius: rem(8);
      color: var(--lighter-grayish-cyan);
      font-size: rem(24);

      @include breakpoint(large) {
        width: rem(117);
        height: rem(48);
        font-size: rem(24);
      }

      &.active {
        background-color: var(--strong-cyan);
        color: var(--very-dark-cyan);
      }

      &#tip-value-custom {
        background: var(--lighter-grayish-cyan);

        &::placeholder {
          color: var(--dark-grayish-cyan);
        }

        &:focus {
          outline-color: var(--strong-cyan)!important;
        }

        @include breakpoint(large) {
          padding: 0;
          padding-right: rem(18);
          font-size: rem(24);
        }
      }
    }
  }

  &__people {
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin-bottom: rem(32);

    &-title {
      grid-column: 1 / 2;
      margin-bottom: rem(8);
    }

    &-zero {
      grid-column: 2 / 3;
      text-align: end;
      color: darkorange;
      display: none;
    }

    &-input {
      grid-column: 1 / 3;
      background: no-repeat scroll rem(16) rem(16) url(../images/icon-person.svg), var(--lighter-grayish-cyan);

      &:focus {
        outline-color: darkorange;
      }
    }
  }
}